# File multiPhate.config controls execution of the multiPhATE driver of the PhATE pipeline.
# The rules of the game:
#    List your genomes as shown below: (e.g., Genome NNN), followed by the 5 required parameters.
#    Include the slash after the name of your output subdirectory (e.g., MyPhageOutDir/)
#    It is best to use numbering (e.g., Genome 1, etc).
#    When naming your genomes, do not use special characters or spaces.
#    Name your genome's fasta file with file extension ".fasta".
#    You may name the multiPhate.config file as you like, "multiPhate.config" is suggested.
# Invoke multiPhate as follows:  $ python multiPhate.py multiPhate.config

# List your genomes here. Below are examples; insert your own data. To include more than 2 genomes,
# Replicate the 6 lines "Genome X" through "output_subdir" as many times as needed.
# The following parameter values must be unique: genome_file, genome_name, output_subdir.
# Genome fasta files must be saved to the PipelineInput/ directory.
# Your genome name must be alphanumeric (including '_') with no spaces! This string will be used to name files
Genome List: 
Genome 1 
genome_file='Eb_P2.fasta'
genome_type='phage'
genome_species='Eb_P2_phage'
genome_name='Eb_P2'
output_subdir='Eb_P2/'
Genome 2 
genome_file='Eb_WPhi.fasta'
genome_type='phage'
genome_species='Eb_WPhi_phage'
genome_name='Eb_WPhi'
output_subdir='Eb_WPhi/'
Genome 3 
genome_file='Ec_pro483.fasta'
genome_type='phage'
genome_species='Ec_pro483_phage'
genome_name='Ec_pro483'
output_subdir='Ec_pro483/'
END of list

# Processing information: for gene-calling (followed by translation) only, set translate only line to true
# It is recommended that you first do gene calling, without functional annotation (blast, hmm) in order to
# examine the results of gene finding and possibly compare results between multiple gene callers. Then,
# you may select the most satisfactory gene caller, and proceed with functional annotation using those calls. 
# To perform gene calling followed by functional annotation, set translate_only='false'.
genetic_code='11'
translate_only='false'

# GENE CALLERS 
# Choices for gene calling are: phanotate, genemarks, prodigal, glimmer, and custom.
# Turn individual <caller>_calls on or off (specify: 'true' or 'false').
# Set genemarks_calls to 'false' if you don't have a license for that software.
# Custom genecall output must be in GFF3 format, with file extension '.gff3'.
# Any custom genecall output file(s) to be used must be saved to the PipelineInput/ directory.
# Each custom genecall output file will be recognized as follows: name_custom.gff3, where name is
#    the name you gave your genome (above, under Genome List). Example: Lambda_custom.gff3 
#    You may accept the default custom_gene_caller_name as 'custom', or you may rename
#    it (e.g., rast), which will be reflected in the custom genecaller output filename.
#    For example, if genome_name='myPhage' and custom_gene_caller_name='rast',
#    then your custom gene caller's output file must be named, "myPhage_rast.gff3".
#    Caution: Name your custom genecall output file(s) correctly, else they will not be recognized.
#    Exactly one custom genecall output file per genome is allowed, but not every genome
#    need have a custom genecall file; if phate cannot find the custom genecall output file,
#    then custom calls will be ignored.
# The primary_calls parameter specifies which gene caller's output will be used for functional annotation.
#    Choices are: 'phanotate','genemarks','prodigal','glimmer','custom','consensus','superset','commoncore'.
#    If you choose 'consensus', a consensus genecall set will be computed from the gene callers 
#    that were run. If you choose 'superset', a non-redundant superset of the callers' outputs
#    will be computed. If you choose 'commoncore', only the universally common gene calls will be used.
phanotate_calls='true'
genemarks_calls='false'
prodigal_calls='true'
glimmer_calls='true'
custom_gene_calls='false'
custom_gene_caller_name='custom'
custom_gene_caller_outfile='custom.gff' # modified gff; see README
primary_calls='consensus'  

# ANNOTATION

# SEQUENCE DATABASE SEARHES 

# Blast parameters
blastn_identity='90'
blastp_identity='90'
blastn_hit_count='3'
blastp_hit_count='3'

# Genomes: ncbi_virus_blast
# Blastn will be run against the virus genome database
ncbi_virus_genome_blast='true'

# Genes: refseq_gene_blast 
# Blastn will be run against the gene database
vog_gene_blast='true'

# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
# Select blastp and/or jackhmmer to be run against any/all of the fasta blast databases. 
# Note: Set kegg_virus_blast to 'false' unless you have a license for that database (see README).
# Note: Some of these databases are huge: use with caution, as processing will take much time.
blastp='true'
phmmer='true'
jackhmmer='true'
pvogs_blast='true'
vog_protein_blast='true'
phantome_blast='true'
kegg_virus_blast='false'         
swissprot_blast='true'
refseq_protein_blast='true'
ncbi_virus_protein_blast='true' 
nr_blast='false'                 
cazy_blast='true'

# Fasta blast database Locations 
# Specify locations of your local instances of fasta blast-formatted databases; use full path/filename
ncbi_virus_genome_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/NCBI/Virus_Genome/viral.genomic.fna'
ncbi_virus_protein_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/NCBI/Virus_Protein/viral.protein.faa'
kegg_virus_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/KEGG/T40000.pep'
phantome_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/Phantome/Phantome_Phage_genes.faa'
pvogs_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/pVOGs/pVOGs.faa'
vog_gene_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/VOGs/FASTA/vog.proteins.tagged.all.fa'
vog_protein_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/VOGs/FASTA/vog.proteins.tagged.all.fa'
swissprot_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/Swissprot/swissprot'
refseq_protein_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/Refseq/Protein/refseq_protein'
nr_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/NR/nr'
cazy_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/CAZY/CAZyDB...'

# Custom blast processing
# Here, you are providing your own fasta databases
custom_genome_blast='false'
custom_genome_blast_database_path=''
custom_gene_blast='false'
custom_gene_blast_database_path=''
custom_protein_blast='false'
custom_protein_blast_database_path=''

# HMM PROFILE DATABASE SEARCHES 

# HMM programs for hmm search against profile databases 
hmmscan='true'

# HMM profiles databases to use
pvogs_hmm_profiles='true'
vogs_hmm_profiles='true'

# HMM profiles database locations 
# Specify locations of your local instances of databases; use full path/filename
pvogs_hmm_profiles_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/pVOGhmms/pVOGsHmmProfilesDB.hmm'
vogs_hmm_profiles_database_path='/Users/zhou4/DEV/PhATE/multiPhATE2/Databases/VOGhmms/VOGsHMMdb/vogs.hmm'

# Custom processing
#custom_hmm_profiles='false'
#custom_hmm_profiles_database_path='unknown'

##### COMPARATIVE GENOMICS #####

# Comparing Gene Profiles across Genomes
# Run this analysis only if you are comparing at least 2 similar genomes.
# The "reference" genome will be the first genome that you listed (above).
# First, enable CompareGeneProfiles (CGP) and the genomics module:
CGP='true'
# Next, run hmmbuild to create profiles for each cluster assembled using CGP: 
#hmmbuild='false'
# Finally, run profile HMMs against protein database(s) already selected (above):
#hmmsearch='false'

# PARALLELISM
HPC='false'
threads='2'
blastThreads='4'

# VERBOSITY
# Control which messages to print or whether to retain intermediate data
# Warnings and messages can be voluminous.
phate_warnings='true'
phate_messages='false'
phate_progress='true'
clean_raw_data='true'
